<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>
        Welcome to our chat room, {{ room }}
    </h1>
    <h2>
        Username: {{ username }}
    </h2>
    <div id="messages"></div>

    <form action="#" method="post">
        <input type="text" placeholder="Enter your message here" name="message" required>
        <button type="submit">Send</button>
    </form>
</body>

</html>
